div {
border: 10px solid grey; width: 50%; padding: 4px;
    background-color: #666666;
}

dd {
    margin-left: 130px;
    margin-top: -16px;
}

.yellow{
    color: #ffcc66;
}
.red{
    color: red;
}
.orange{
    color: coral;
}
.grey{
    color: grey;
}